UserConfig(
    target_info: TargetConfig(
        target_path: "../examples/readelf/local/binutils-gdb/build/binutils/readelf",
        target_source_code_path: "../examples/readelf/local/binutils-gdb/binutils/",
        target_include_filter: ["../examples/readelf/local/binutils-gdb/binutils/"],
        allowed_extensions: ["c", "cpp"],
    ),
    fuzzer_infos: [
        (
            fuzzer_configuration_id: 1,
            fuzzer_configuration: "afl++",
            traces_directory_path: "../examples/readelf/saved_corpus/afl_traces",
            inputs_directory_path: "../examples/readelf/saved_corpus/afl_run/afl-out/default/queue",
        ),
        (
            fuzzer_configuration_id: 2,
            fuzzer_configuration: "hfuzz",
            traces_directory_path: "../examples/readelf/saved_corpus/hfuzz_traces",
            inputs_directory_path: "../examples/readelf/saved_corpus/hfuzz_run/renamed_seeds",
        )
    ]
)